*{
	padding: 0px;
	margin: 0px;
}
html,body{
	height: 100%;
  	min-height: 100%;
}
body{
	background-attachment: fixed;
	color: #222;
	background-image: url('../image/bg.jpg');
	cursor: default;
}
.container{
	height: 97%;
	min-height: 97%;

	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;

	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
#content{
	width: 50%;
	text-align: center;
}
footer{
	text-align: center;
}